<div class="row">
    <div class="col-6 p-5">
      <form [formGroup]="productForm">
        <div class="mb-3">
          <label for="product-name" class="form-label">Product Name</label>
          <input formControlName="name" type="text" class="form-control" id="product-name" aria-describedby="emailHelp">
          <div class="alert alert-danger" role="alert"
          *ngIf="productForm.controls['name'].errors&& productForm.controls['name'].touched"
          >
           <span  *ngIf="productForm.controls['name'].errors?.['required']">Product Name is requires</span>
           <span  *ngIf="productForm.controls['name'].errors?.['minlength']">Product Name should be more then 3 charector</span>
           <span  *ngIf="productForm.controls['name'].errors?.['maxlength']">Product Name should mot more then 50 charector</span>

          </div>
        </div>
        <div class="mb-3">
          <label for="product-decs" class="form-label">Product Desc</label>
          <br>
          <textarea formControlName="description" id="product-decs" class="form-control" rows="5" style="width: 100%;"></textarea>

        </div>
        <div class="mb-3">
          <label for="product-price" class="form-label">Product Price</label>
          <input formControlName="price" type="text" class="form-control" id="product-price">
        </div>

        <button type="submit" class="btn btn-primary">Create Product</button>
      </form>
    </div>
</div>
